
@import './base/variables';
@import './base/layout';

.editor-styles-wrapper .wp-block {
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  @import './base/global';

  @import './components/*';
  @import './pages/*';
  @import './blocks/*';
}
