$pink: #ED71AB;
$purple: rgb(146, 134, 228);
$blue: rgb(69, 228, 228);

$white: #ebebeb;
$background: #f8f8f8;
$black: #212322;
$darkGray: #333;

$tablet: 650px;
$desktop: 960px;
$desktopMedium: 1280px;
$desktopLarge: 1400px;

$body: 'Crimson Pro', sans-serif;
$display: "Montserrat", arial, sans-serif;
$bold: 700;
$xBold: 800;
